
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364,627');

.miama-font{
    font-family: "Miama", sans-serif;
    font-size: 120px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

/* nav style */
.niche{
    font-size: 36px;
    font-weight: bolder;
    color: #E6533C;
    
}
.icon{
    height: 24px;
    width: 24px;
    color: white;
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 176px;
    /* margin-right: 190px; */
    margin-top: 57px;
}
.nav-links{
    display: flex;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.bg-1{
    padding-left: 190px;
    padding-right: 140px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17)0%,rgba(119, 119, 119, 0) 100%);
    width: 100%;
    height: 715px;
}
.nav-link{
    text-decoration: none;
    font-weight: 300;
    color: white;
    font-size: 18px;
    
}
.nav-item{
    margin-right: 67px;
    padding: 12px 4px;
}
.nav-item:hover{
    background-color: #E6533C;
    border-radius: 46px;
    height: 20px;
    width: 98px;
    text-align: center;
    
    
}
/* banner */
.text-descriptions{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.banner{
    /* padding-left: 190px;
    padding-right: 140px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 87px; */
}
.banner-head{
color: white;
font-size: 78px;
font-weight: 900;
text-align: left;

}
.banner-text{
    width: 599px;
    height: 440px;
    text-align: left;
    margin-bottom: 200px;
    margin-top: 0px;
    
}
.img{
    margin-top: auto;
    margin-right: 120px;
    margin-bottom: -12px;
    width: 349px;
    height: 580px;
   /* margin: auto; */
}




.video-workout{
    width: 192px;
    height: 97px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    backdrop-filter: blur(20px);
    position: relative;
    bottom: 400px;
    left: 400px;
}
#button, #button2{
    padding: 15px 20px;
   
    
}
/* .honu{
    position: absolute; */


.video-tutorials{
    width: 192px;
    height: 97px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: white;
    position: relative;
    bottom: 200px;
    left: 100px;
}
    
#number{
    font-size: 2rem;
    font-weight: 600;
    

}




.text-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 13px;
}
/* button */
.btn-pro{
    font-size: 18px;
    font-weight: 300;
    background-color: #E6533C;
    border-radius: 39px;
    padding: 16px 46.5px;
    color: white;
}
.btn-1{
    font-size: 18px;
    font-weight: 300;
    border-radius: 39px;
    padding: 16px 46.5px;
    color: white;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-left: 14px;

}
/* main */

    

.center{
    text-align: center;
    /* margin: auto; */
}
.change{
    margin-right: 390px;
    margin-left: 390px;
}
.section-name{
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.section-head{
    margin-top: 100px;
}
.objectives{
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    margin-top: 57px;
    /* margin-left: 80px; */
}
.pic-head{
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    
    

}
.text-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.des{
    margin-top: 2.23rem;
    /* position: relative;
    right: 55px; */
}
.img2{
    height: 180px;
    width: 180px;
    position: relative;
    left:  25px;
    border-radius: 50%;
    overflow: hidden;
    
}
.piku{
align-items: center;
}
/* section2 */
.section-name2{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    
}

.run{
    position: static;
    height: 371px;
    width: 1240px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 190px;
    margin-left: 390px;
    

    
    
   
}
.extra{
    margin-left: 56px;
    margin-bottom: 30px;
    text-align: left;


}
.img3{
    width: 366px;
    height: 312px;
    border-radius: 15px;
    overflow: hidden;
    margin: 30px;
}
.btn-pro1{
    font-size: 18px;
    font-weight: 300;
    background-color: #E6533C;
    border-radius: 39px;
    padding: 16px 46.5px;
    color: white;
}
.textpic{
    display: flex;
    justify-content: space-between;
    gap: 165px;
}
.training{
    margin-left: 390px;
    margin-right: 190px;
    width: 80%;
    height: 581px;
}
/* img section */
.vrti{
    height: 403px;
    width: 1060px;
    margin-top: 58px;
}

.row1{

    display: flex;
    width: 1060px;
    height: 201.5px;

    
}
.overlay1{
    position: absolute;
    top: 50%;
    left: 50%;
}
#no1{

    width: 323px;
    height: 215px;
    object-fit: cover;
    mix-blend-mode: lighten;
    opacity: 50%;
    background: rgba(6, 255, 210, 1);
    /* left: -16px; */
}
#no2{
    
    width: 539px;
    height: 215px;
    object-fit: cover;
}
#no3{
    width: 280px;
    height: 215px;
    object-fit: cover;

}
.text-descriptionbmi{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-top: 0px;
}
.bmi{
    margin-left: 520px;

}
.section-namebmi{
    font-size: 48px;
    font-weight: 700;
    color: white;
    

}
 td, th{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;

}
td{
    color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    font-size: 16px;
    font-weight: 300;

}
.cap{
    font-size: 28px;
    font-weight: 700;
    color: white;
    /* margin-top: 200px; */
}
th{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.chart{
    margin-left: 390px;
    /* margin-top: 200px; */
}
.chartncalc{
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    height: 487px;
}
.table{
    display: flex;
    justify-content: space-between;
}
.calculator{
    margin-right: 390px;
}
.inp > input{
    /* display: flex;
    flex-direction: column; */
    height: 48px;
    width: 282px;
    padding: 10px;
    border: none;
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 5px;

}
.inp2 > input{
    height: 48px;
    width: 282px;
    padding: 10px;
    border: none;
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.sex{
    height: 70px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    color: grey;
    border: none;
    border-radius: 8px;
    padding: 10px;
}
.activity{
    height: 70px;
    width: 610px;
    background-color: rgba(255, 255, 255, 0.1);
    color: grey;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 34px;
}
.cal{
    
    margin-bottom: 30px;
}
.btn-pro2{
    font-size: 18px;
    font-weight: 300;
    background-color: #E6533C;
    border-radius: 39px;
    padding: 16px 46.5px;
    color: white;
}

.met{
    margin-top: 80px;
}
.team{
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    height: 604px;
    width: 1240px;
    margin-left: 390px;
    border-radius: 18px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 88px;
}
.mem-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 180px;
    left: 20px;
}

.position{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 135px;
    left: 20px;
}

.member1{
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 15px;
}
.member2{
    background-image: url(../images/trainer2.png);
    background-size: cover;
    border-radius: 15px;
}
.member3{
    background-image: url(../images/trainer3.png);
    background-size: cover;
    border-radius: 15px;
}.member4{
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 15px;
}.member5{
    background-image: url(../images/trainer5.png);
    background-size: cover;
    border-radius: 15px;
}
.member6{
    background-image: url(../images/trainer6.png);
    background-size: cover;
    border-radius: 15px;

}



















/* responsive */
@media screen and (max-width:576px) {
         .banner{
            display: grid;
            margin: 0px;
            grid-template-columns: repeat(1, 1fr);
         }

         .bg-1{
                max-width: 393px;
                height: auto;
                padding: 0px;
                margin-bottom: 0px;
         }
         .banner-text{
            width: 353px;
            height: 285px;
            
            margin-bottom: 146px;
            margin-top: 0px;
            
        }
        .banner-head{
            color: white;
            font-size: 50px;
            font-weight: 900;
            text-align: left;
            margin-left: 20px;
        }
        .miama-font{
            font-family: "Miama", sans-serif;
            font-size: 95px;
        }
        .btnflex{
            display: flex;
            
        }
        body{
            overflow-x: hidden;
        }
        .btn-pro{
            font-size: 18px;
            font-weight: 300;
            background-color: #E6533C;
            border-radius: 39px;
            padding: 5px 20px;
            color: white;
            border: none;
        }
        .btn-1{
            font-size: 18px;
            font-weight: 300;
            border-radius: 39px;
            padding: 15px 25px;
            color: white;
            background-color: black;
            border: 1px solid rgba(255, 255, 255, 1);
            margin-left: 14px;
            border: none;
        
        }
        .hide{
            display: none;
        }
        .text-descriptions{
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 28px;
            margin-left: 20px;
        }
        
        .icon{
            display: block;
            margin-right: 20px;
         }
         .niche{
            margin-left: 20px;
         }
         .nav-links{
            
            display: none;
         }
         .video-tutorials{
            position: relative;
           left: 10px;
           height: 73px;
            width: 153px;
         }
         .video-workout{
        
            position:relative;
            top: 250px;
            left: 180px;
            height: 73px;
            width: 153px;
         }
         #number{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .text-description{
            font-size: 10px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 13px;
        }

        

.change{
    margin-right: 20px;
    justify-content: center;
    margin-left: 20px;
    align-items: flex-start;
}

.section-name{
    font-size: 32px;
}

.objectives{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}



.img2{
    position: relative;
    left: 87px;
    
}
.run{
    position: relative;
    height: 650px;
    width: 333px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    margin-top: 40px;
   
    
    margin-left: 20px;
}
.textpic{
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.extra{
    margin-left: 40px;
    margin-bottom: 90px;
    text-align: left;
    height: 264px;
    width: 287px;


}
.btn-pro1{
    padding: 15px 100px;
    border: none;
}
    
    .img3{
        width: 287px;
        height: 170px;
        border-radius: 15px;
        overflow: hidden;
        margin: 33px;
    }

    .bmi{
        margin-left: 20px;
    
    }

    .chartncalc{
        background-color: rgba(34, 34, 34, 1);
        width: 100%;
        height: 972px;
    }

    .table{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .chart{
        margin-left: 20px;
      
    }
    .bg-1{
       
        overflow-x: hidden;
    }
    .calc{
        
        overflow-x: hidden;
    }
    .run{
        overflow-x: hidden;
    }
    
    .change{
        
        overflow-x: hidden;
    }
    .met{
        overflow-x: hidden;
    }

    .calculator{
        margin-right: 0px;
        margin-left: 20px;
    }
    .inp2 > input{
        height: 35px;
        width: 142px;
        /* display: flex;
        justify-content: space-around; */
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        gap: 20px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .inp > input{
        /* display: flex;
        flex-direction: column; */
        height: 35px;
        width: 142px;
        /* display: flex;
        justify-content: space-around; */
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        gap: 20px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .sex{
        height: 55px;
        width: 165px;
        background-color: rgba(255, 255, 255, 0.1);
        color: grey;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
    .activity{
        height: 55px;
        width: 335px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: grey;
        border: none;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 34px;
    }
    
    

    .btn-pro2{
        font-size: 18px;
        font-weight: 300;
        background-color: #E6533C;
        border-radius: 39px;
        padding: 16px 45px;
        color: white;
        border: none;
    }
    .team{
        background-color: rgba(255, 255, 255, 0.1);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        height: 1188px;
        width: 353px;
        margin-left: 0px;
        /* margin-right: 10px; */
        border-radius: 18px;
        /* padding: 10px; */
        margin-top: 50px;
        
    }
    .mem-name{
        font-size: 20px;
        font-weight: bold;
        color: white;
        position: relative;
        top: 180px;
        left: 20px;
    }
    .position{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
        position: relative;
        top: 145px;
        left: 20px;
    }
     
.member4{
    background-image: url(../images/trainer4.png);
    background-size: cover;
    border-radius: 15px;
    display: none;
}
.member1{
    background-image: url(../images/trainer1.png);
    background-size: cover;
    border-radius: 15px;
    display: none;
}



























}